.primary-menu.ww-menu .ww-drpdwn #drop1 a:nth-child(1)::before{content:"";width:24px;float:left;display:block;height:20px;margin-right:.5rem;background:url(/content/dam/aemmaster/sprite-flag.png)}
.primary-menu.ww-menu .ww-drpdwn #drop1 ul li{padding-bottom:.27rem}
.primary-menu.ww-menu .ww-drpdwn #drop1 .argentina a:nth-child(1)::before{background-position:-411px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .brazil a:nth-child(1)::before{background-position:-3px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .canada a:nth-child(1)::before{background-position:280px 255px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .costa-rica a:nth-child(1)::before{background-position:123px -25px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .el-salvador a:nth-child(1)::before{background-position:187px 255px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .mexico a:nth-child(1)::before{background-position:534px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .united-states a:nth-child(1)::before{background-position:310px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .belgium a:nth-child(1)::before{background-position:-347px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .denmark a:nth-child(1)::before{background-position:-3px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .finland a:nth-child(1)::before{background-position:-192px -3px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .france a:nth-child(1)::before{background-position:-160px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .germany a:nth-child(1)::before{background-position:-64px -24px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .hungary a:nth-child(1)::before{background-position:-192px -24px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .italy a:nth-child(1)::before{background-position:-411px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .lithuania a:nth-child(1)::before{background-position:-347px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .norway a:nth-child(1)::before{background-position:-411px -24px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .poland a:nth-child(1)::before{background-position:-443px -46px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .spain a:nth-child(1)::before{background-position:-192px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .sweden a:nth-child(1)::before{background-position:-32px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .switzerland a:nth-child(1)::before{background-position:-507px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .the-netherlands a:nth-child(1)::before{background-position:-224px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .united-kingdom a:nth-child(1)::before{background-position:-411px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .australia a:nth-child(1)::before{background-position:-379px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .china a:nth-child(1)::before{background-position:-64px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .hong-kong a:nth-child(1)::before{background-position:-507px -24px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .india a:nth-child(1)::before{background-position:-539px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .japan a:nth-child(1)::before{background-position:-379px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .malaysia a:nth-child(1)::before{background-position:-539px -23px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .new-zealand a:nth-child(1)::before{background-position:-443px -2px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .philippines a:nth-child(1)::before{background-position:-32px -47px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .singapore a:nth-child(1)::before{background-position:-475px -48px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .thailand a:nth-child(1)::before{background-position:-379px -71px}
.primary-menu.ww-menu .ww-drpdwn #drop1 .latvia a:nth-child(1)::before{background-position:-507px -68px}
